<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>WAGMI Faucet</span>
  <span class="spacer"></span>
  <a href="https://github.com/patrick-ogrady/eth-faucet" target="_blank">
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
      View on Github
    </button>
  </a>
</mat-toolbar>

<div class="progress-container">
<mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>
</div>

<mat-card class="example-card">
  <form [formGroup]="formGroup">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Get WGM</mat-card-title>
      <mat-card-subtitle>Request WGM to your wallet address</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="form-field-container">
        <mat-form-field appearance="fill">
          <mat-label>WAGMI Wallet Address</mat-label>
          <input matInput placeholder="0x..." name="walletAddress" formControlName="walletAddress">
          <mat-icon matSuffix>account_balance_wallet</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="formGroup.dirty && formGroup.controls.walletAddress.hasError('required')">
          WAGMI address is required
        </mat-error>
      </div>
      <button mat-raised-button color="accent" (click)="submit($event)" [disabled]="loading">Request Funds</button>
    </mat-card-content>
  </form>
  <div *ngIf="transactionHash" class="results">
    <mat-card-subtitle style="color: darkgreen;">Sent 1 WGM!</mat-card-subtitle>
  </div>
</mat-card>
